[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pysimplegui = "*"
numpy = "*"
opencv-python = "*"
pyrealsense2 = "*"
mediapipe = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"
pylint = "*"

[requires]
python_version = "3.7.9"

[scripts]
start = "python apps -m"
mediapipe = "python apps/test_mediaPipe.py"
